# Node
node_modules/
npm-debug.log

# Angular
dist/
tmp/
.angular/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.local
.env.*.local

# System
.DS_Store
Thumbs.db
